color name div p:first-child {
    color: red;
}

/* rgb-> red green blue */
div p:nth-child(2) {
    color: rgb(26, 250, 247);
}

/* rgba red green blue alpha */

div p:nth-child(3) {
    color: rgba(0, 256, 0, 0.5);
}

div p:nth-child(4) {
    color: #A020F0;
}

/* hsl  hue saturation lightness */
div p:nth-child(5) {
    background-color: hsl(272, 61%, 20%);
}

/* hsla  hue saturation lightness opacity(alpha) */
div p:nth-child(6) {
    background-color: hsla(272, 75%, 48%, 2);
}



/* px ,%,rem,em,vh,vw */
/* div{
    width:50% ;
} */
/* p{
    font-size: 20px;
} */
/* span{
    color: red;
    font-size: 2em;
} */


/* html:root{
    font-size: 30px;
} */
/* p{
    font-size: 20px;
}
span{
   font-size: 2em; 
} */

div {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/cf/Planet_collage_to_scale.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: red; */
    height: 100vh;
    color: white;
}

section {
    background-color: blue;
    height: 200vh;
    width: 100vw;
}